# =========================
# Python artifacts
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.env
.venv
env/
venv/

# Build / packaging
build/
dist/
*.egg-info/

# =========================
# IDE settings
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Ansys / PyAEDT Simulation
# =========================
*.aedt
*.aedt.lock
*.aedb/
*.aedtresults/

# Simulation output directories
simulation/
results/
output/

# Logs and data
*.log
data/*.csv
simulation_results.csv
simulation_num.txt
simulation_results.csv.lock
